<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <!-- SCHEDULING -->
    <scheduling>
        <!-- Cache purge agent which purges caches when memory consumption exceeds the configured limits. -->
        <agent type="Sitecore.Tasks.MemoryLimitCachePurgeAgent, Sitecore.Kernel">
            <patch:delete/>
        </agent>
    </scheduling>

    <settings>
			<setting name="Caching.AccessResultCacheSize">
				<patch:attribute name="value">1000MB</patch:attribute>
			</setting>
			
			<setting name="Caching.LanguageFallbackFieldValues.DefaultCacheSize">
				<patch:attribute name="value">1000MB</patch:attribute>
			</setting>
			
			<setting name="Caching.IsFallbackValid.DefaultCacheSize">
				<patch:attribute name="value">1000MB</patch:attribute>
			</setting>
			
			<setting name="Caching.LayoutFieldDeltaCacheSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultClientDataCacheSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultPropertyCacheSize">
				<patch:attribute name="value">20MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultDataCacheSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultFilteredItemsCacheSize">
				<patch:attribute name="value">500MB</patch:attribute>
			</setting>
			
            <setting name="Caching.DefaultHtmlCacheSize">
				<patch:attribute name="value">0MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultItemPathsCacheSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultPathCacheSize">
				<patch:attribute name="value">5MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultRegistryCacheSize">
				<patch:attribute name="value">10MB</patch:attribute>
			</setting>
            
			<setting name="Caching.DefaultViewStateCacheSize">
				<patch:attribute name="value">0MB</patch:attribute>
			</setting>
			
			<setting name="Caching.DefaultXslCacheSize">
				<patch:attribute name="value">0MB</patch:attribute>
			</setting>
			
			<setting name="Caching.Owin.TransformedIdentitiesCacheSize">
				<patch:attribute name="value">50MB</patch:attribute>
			</setting>

			<setting name="Sitecore.XA.Foundation.Mvc.CustomRenderingViewPathCacheMaxSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.PresentationContextCacheMaxSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.PageDesignsRulesCacheMaxSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.LayoutXmlCacheMaxSize">
				<patch:attribute name="value">300MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.IsPageDesignCacheMaxSize">
				<patch:attribute name="value">50MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.RenderingCachingOptionsCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Presentation.InjectedRenderingsCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Scaffolding.ScaffoldingServiceCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>

			<setting name="XA.Foundation.SitecoreExtensions.ParentOfTemplateCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.SitecoreExtensions.ChildOfTemplateCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.SitecoreExtensions.TemplateInheritanceCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.SitecoreExtensions.ExtendedPropertiesCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Theming.ThemeInheritanceCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Theming.ThemeHTMLIncludesCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Variants.Abstractions.VariantSwitcherCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.Variants.Abstractions.AvailableRenderingVariantCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
            
			<setting name="XA.Foundation.StandardValues.StandardValuesCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
            
			<setting name="XA.Foundation.LocalDatasources.ResolveRenderingDatasourceCacheMaxSize">
				<patch:attribute name="value">200MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.PageBranches.PageBranchesContextCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.PageBranches.PageBranchesRulesCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
			
			<setting name="XA.Foundation.PlaceholderSettings.PlaceholderSettingsContextCacheMaxSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>
    </settings>
    
    <sites>
      <site name="website">
          <patch:attribute name="htmlCacheSize">0</patch:attribute>
          <patch:attribute name="registryCacheSize">0</patch:attribute>
          <patch:attribute name="viewStateCacheSize">0</patch:attribute>
          <patch:attribute name="xslCacheSize">0</patch:attribute>
          <patch:attribute name="filteredItemsCacheSize">150MB</patch:attribute>
          <patch:attribute name="renderingParametersCacheSize">50MB</patch:attribute>
      </site>
      <site name="shell">
          <patch:attribute name="htmlCacheSize">10MB</patch:attribute>
          <patch:attribute name="registryCacheSize">60MB</patch:attribute>
          <patch:attribute name="viewStateCacheSize">150MB</patch:attribute>
          <patch:attribute name="xslCacheSize">8MB</patch:attribute>
          <patch:attribute name="filteredItemsCacheSize">50MB</patch:attribute>
          <patch:attribute name="renderingParametersCacheSize">20MB</patch:attribute>
      </site>
    </sites>

    <databases>
      <database id="master" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <cacheSizes>
            <data>12000MB</data>
            <items>6000MB</items>
            <paths>50MB</paths>
            <itempaths>150MB</itempaths>
            <standardValues>250MB</standardValues>
        </cacheSizes>
        <dataProviders>
            <dataProvider>
              <param desc="headProvider">
                  <dataProvider>
                    <prefetch>
                        <cacheSize>5000MB</cacheSize>
                    </prefetch>
                  </dataProvider>
              </param>
            </dataProvider>
        </dataProviders>
      </database>
      <database id="core" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <cacheSizes>
            <data>60MB</data>
            <items>100MB</items>
            <paths>2MB</paths>
            <itempaths>20MB</itempaths>
            <standardValues>10MB</standardValues>
        </cacheSizes>
        <dataProviders>
            <dataProvider>
              <param desc="headProvider">
                  <dataProvider>
                    <prefetch>
                        <cacheSize>300MB</cacheSize>
                    </prefetch>
                  </dataProvider>
              </param>
            </dataProvider>
        </dataProviders>
      </database>
      <database id="experienceedge" singleInstance="true" type="Sitecore.Data.DefaultDatabase, Sitecore.Kernel">
        <cacheSizes>
            <data>0</data>
            <items>0</items>
            <paths>0</paths>
            <itempaths>0</itempaths>
            <standardValues>0</standardValues>
        </cacheSizes>
      </database>
    </databases>

   </sitecore>
</configuration>
